@charset "UTF-8";
/* скрытие заголовка*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social__link, .header__nav, .header__inner, .check {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*цвет фона nav белый #ffffff */
/*цвет фона основной светло серый #E5E5E5 */
/* цвет фона серый #F5F4FA  */
/* цвет фона темно-серый #2F303A  */
/* цвет текста основного #757575 */
/* цвет текста вторичного #212121 */
/*акцент #2196F3 */
/*вторичный цвет */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* Обнуление для формы */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.button {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.features-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.filters-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button.active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  width: 200px;
  position: relative;
  padding-left: 29px;
  padding-right: 62px;
}

/* styles cards*/
.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__elements {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__elements:nth-child(3n) {
  margin-right: 0;
}

.portfolio__elements:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__cards-menu {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__cards-menu:hover, .portfolio__cards-menu:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__cards-list {
  padding: 24px;
  border: 1px solid #eeeeee;
}

.portfolio__cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__cards-text {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 0;
}

/*  Стили для checkbox */
.check {
  margin-top: 20px;
}
.check__link {
  color: var(--accent-color);
  margin-left: 5px;
}
.check__box {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.check__input:checked + .check__box {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--accent-color);
}

.header-line {
  border-bottom: 1px solid #e5e5e5;
}

/* делаем фон модальному окну */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/* скрываем модальное окно */
.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

/* позиционируем модальное окно по центру backdrop */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  max-height: 581px;
  height: 100%;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}
.modal__icon-close {
  fill: #000;
}

/* Стилизируем форму модального окна */
.modal__form-conect {
  padding: 40px;
}

.form__modal-name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__field-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form__field-modal:last-child {
  margin-bottom: 0;
}

.modal__form-input {
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-input:focus-within, .modal__form-input:focus, .modal__form-input:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* меняем border при фокусе */
/*  меняем иконку цвет при focuse */
.icon__modal {
  position: absolute;
  top: 65%;
  left: 12px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-input:hover + .icon__modal, .modal__form-input:focus + .icon__modal {
  fill: var(--accent-color);
}

.modal__icon-close:focus,
.modal__icon-close:hover {
  fill: var(--accent-color);
}

.modal__form-input-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.portfolio__foto-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__cards-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__elements:hover .portfolio__cards-overlay,
.portfolio__elements:focus .portfolio__cards-overlay {
  transform: translateY(0);
}

.portfolio__cards-information {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* меняю style для placeholder */
.modal-form-input-textarea::-moz-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-input-textarea:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-input-textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo-accent {
  color: #000000;
}

.header__auth-nav {
  display: flex;
  margin-left: auto;
}
.header__auth-nav .header__list:not(:last-child) {
  margin-right: 50px;
}
.header__auth-nav a {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__auth-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__auth-icon:hover, .header__auth-icon:focus {
  color: var(--accent-color);
}
.header__auth-icon:hover .icon-link, .header__auth-icon:focus .icon-link {
  fill: var(--accent-color);
}

.icon-link {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__site-nav {
  display: flex;
}
.header__site-nav a:hover, .header__site-nav a:focus {
  color: var(--accent-color);
}
.header__site-nav a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site-nav.current {
  color: var(--accent-color);
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}
.header__link--current {
  color: var(--accent-color);
}
.header__link--current::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid var(--accent-color);
}

.header__item {
  position: relative;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg.jpg");
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin-left: 452px;
  margin-bottom: 30px;
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}
.features__item:nth-child(4n) {
  margin-right: 0;
}
.features__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}
.features__item:before {
  content: " ";
  display: block;
}

.about {
  padding-top: 0;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  width: 370px;
  margin-right: 30px;
}
.about__item:nth-child(3n) {
  margin-right: 0;
}
.about__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.about__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.about__picter {
  position: relative;
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}
.team__item {
  width: 270px;
  margin-right: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}
.team__cards {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__description {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.team__item:nth-child(2n+1) {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:nth-child(2n+0) {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:nth-child(4n) {
  margin-right: 0;
}

.team__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  fill: #ffffff;
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
}

.team__item-icon {
  margin-right: 10px;
}
.team__item-icon:last-child {
  margin-right: 0;
}

.team__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__list-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-list {
  padding-top: 24px;
  padding-bottom: 24px;
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:hover {
  border: 1px solid var(--accent-color);
}

.client__item {
  display: flex;
  justify-content: center;
}

.clients__list:not(last-child) {
  margin-right: 30px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
  padding: 0;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__inner {
  display: flex;
  align-items: baseline;
}

.adress__list a {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover,
.adress__link:focus {
  color: var(--accent-color);
}

.accentes {
  color: #ffffff;
}

.adress__list .current {
  color: var(--primary-white-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

/*footer social icon*/
.social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.social__item {
  margin-right: 10px;
}
.social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social__icon {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  border: none;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

/* стили формы в футере*/
.form-email {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form__input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: var(--primary-white-color);
  padding-left: 15px;
}

.form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */