/*  Стили для checkbox */
.check {
	
	@extend %flex-centered;		
	margin-top: 20px;

	&__link {
	color: var(--accent-color);
	margin-left: 5px;
}
	&__box {
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	margin-right: 8px;
}
}

.check__input:checked + .check__box {
	background-color: var(--accent-color);
	background-image: url(../images/icon-check.svg);
	background-size: contain;
	background-repeat: no-repeat;
	border: 2px solid var(--accent-color);

	
}

