/*цвет фона nav белый #ffffff */
/*цвет фона основной светло серый #E5E5E5 */
/* цвет фона серый #F5F4FA  */
/* цвет фона темно-серый #2F303A  */

/* цвет текста основного #757575 */
/* цвет текста вторичного #212121 */

/*акцент #2196F3 */
/*вторичный цвет */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
}


