.header__inner {
	display: flex;
   align-items: center;
   justify-content: space-between;
}

@media screen and(min-width: 1200px) {
	.header__inner {
	justify-content: center;
	
}
		}
	

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	color: var(--accent-color);

	
}

.header__nav {
	display: flex;
   align-items: center;
   justify-content: space-between;
	
}

.logo-accent {
	color: #000000;
}



 

