.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	color: var(--accent-color);
}

.logo-accent {
	color: #000000;
}


.header__inner {
	display: flex;
   align-items: center;
   justify-content: space-between;
}


	





 

