.hero {
	background-color: #2f303a;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding: 120px 0;
	margin-left: auto;
	margin-right: auto;
	background-image: 
	linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
	url("../../images/mobile/Header img.jpg");
	


	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 2dppx),
			(min-resolution: 192dpi) {
		background-image: 
				linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
				url("../../images/mobile/Header img@2x.jpg");
	}

	@media (min-width: 768px) {
		
		background-image: 
			linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
			url("../../images/tablet/Header img.jpg");
	}
	@media (min-resolution: 2dppx),
			(min-resolution: 192dpi) {
		background-image: 
			linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
			url("../../images/tablet/Header img@2x.jpg");
	}
	
	
	@media (min-width: 1200px) {
		
		background-image: 
			linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
			url("../../images/desctop/Header img.jpg");
	}
	@media (min-resolution: 2dppx),
			(min-resolution: 192dpi) {
		background-image: 
			linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
			url("../../images/desctop/Header img@2x.jpg");
	}
	
	&__title {
		font-weight: 900;
		font-size: 26px;
		line-height: 1.62;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: var(--primary-white-color);

		// width: 360px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 30px;
}

}

