

.header__auth-nav {
	display: flex;
	// margin-left: 65px;
	flex-direction: column-reverse;

	
		
	// & .header__list:not(:last-child) {
	// margin-right: 50px;

	
// }


	& .active__tel {
	font-size: 34px;
	color: var(--accent-color);
	margin-bottom: 32px;
}

	& a {
		font-weight: 500;
		font-size: 24px;
		letter-spacing: 0.02em;
		line-height: 1.17;
		color: var(--primary-text-color);
		text-decoration: none;

		display: flex;
		align-items: center;

		margin-bottom: 64px;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}


// .header__auth-icon {
// 	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
// 	&:hover,
// 	&:focus{
// 	color: var(--accent-color);
// }

// 	&:hover .icon-link,
// 	&:focus .icon-link {
// 	fill: var(--accent-color);
// }
// }


// .icon-link {
// 	fill: var(--primary-text-color);
// 	margin-right: 10px;
	
// 	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .icon-list {
// 	margin-bottom: 10px;
// }


.icon-link {
	display: none;
}
@media screen and(min-width: 1200px) {
	.header__auth-nav {
	margin-left: 305px;
	flex-direction: row;
	}
}
	
