

.header__auth-nav {
	display: flex;
	flex-direction: column-reverse;

	
		
	
@media screen and(min-width:768px) {
	flex-direction: column;
	justify-content: center;
	margin-left: 65px;
}


	& .active__tel {
	font-size: 34px;
	color: var(--accent-color);
	margin-bottom: 32px;
}

	& a {
		font-weight: 500;
		font-size: 24px;
		letter-spacing: 0.02em;
		line-height: 1.17;
		color: var(--primary-text-color);
		text-decoration: none;

		display: flex;
		align-items: center;

		margin-bottom: 64px;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		@media screen and(min-width: 768px) {
			font-size: 12px;
			margin-bottom: 10px;

		}
		@media screen and(min-width: 1200px) {
			font-size: 14px;
			margin-bottom: 0;
			

		}

	}
}

@media screen and(min-width:768px) {
	.header__auth-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	&:hover,
	&:focus{
	color: var(--accent-color);
}

	&:hover .icon-link,
	&:focus .icon-link {
	fill: var(--accent-color);
}
}
}
.header__auth-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	&:hover,
	&:focus{
	color: var(--accent-color);
}

	&:hover .icon-link,
	&:focus .icon-link {
	fill: var(--accent-color);
}
}

@media screen and(min-width: 768px) {
	
}

.icon-link {
	fill: var(--primary-text-color);
	margin-right: 10px;
	
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and(max-width: 767px) {
	.icon-list {
	margin-bottom: 10px;
}
}


@media screen and(min-width: 1200px) {
	.header__list {
		display: flex;
		justify-content: center;

		
	}
}
@media screen and(min-width: 1200px) {
.header__auth-nav .header__list:not(:last-child) {
    margin-right: 30px;
}
}
.icon-link {
	display: none;

	@media screen and(min-width: 768px) {
		display: block;
	}
}

@media screen and(min-width: 1200px) {
	.header__auth-nav {
	margin-left: 305px;
	flex-direction: row;
	justify-content: center;
	}
}
	
@media screen and(min-width:768px) {
	.header__list:last-child a{
		margin-bottom: 0;
	}
}

